.logo {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.logo i {
  font-size: 2rem;
  color: #007bff;
  margin-right: 10px;
}

.logo h1 {
  font-size: 2rem;
  color: #333;
  margin: 0;
}